@font-face {
  font-family: Ravenna;
  src: url(Ravenna.ttf);
}

html {
  background: url(/img/bg.webp) no-repeat center center fixed;
  background-color: #190a05;
  background-size: cover;
}

body {
  font-family: Segoe UI, Arial;
  color: white;
  /* color: rgba(255, 255, 255, 0.9); */

  /* text-align: center;
  font-size: 24px; */
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  font-family: Ravenna;
  margin-top: 0px;

  position: relative;
  /* background: linear-gradient(to bottom, #ffffff,#ffffff, #55129f, #55129f); */
  background: linear-gradient(to right bottom, #d62013, #d62013, #000000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* h2 {
  margin-top: 15px;
  background: linear-gradient(to right bottom, #009688, #009688, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* img { */
.randomizer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 200px;
}

table {
  margin: 0px auto;
  padding: 4px;
  /* background-color: #000000cc; */
  border-radius: 0.5em;
}

/* td {
  font-size: 18px;
  padding: 5px 20px;
  width: 12vh;
} */

hr {
  border-color: #5a5a5a;
}

ul {
  text-align: left;
  color: #f3d068;
}

.footerText {
  line-height: 2;
  font-size: 1.25em;
  font-weight: 300;
}

.devFooterText {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}

a > img {
  display: inline;
  margin: 0px 12px;
}

a > img {
  border: none;
}

p > img {
  margin: 30px auto;
}

p > span {
  display: inline;
}

/* Classes */
.hr2 {
  width: 300px;
  border-color: #009688;
}

.blackbg {
  width: 100%;
  background-color: rgb(0, 0, 0, 0.9);
  padding: 24px 20px 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.blackbg.blackBgNoBorder {
  border: none;
}

@media (min-width: 450px) {
  .blackbg {
    padding-top: 32px;
  }
}

@media (min-width: 601px) {
  .blackbg {
    border-radius: 8px;
    margin-bottom: 32px;
    border: none;
  }
}

@media (min-width: 1032px) {
  .blackbg {
    padding-left: 40px;
    padding-right: 40px;
  }
}

img.blackbor {
  border: 25px solid #000000cc;
  padding: 0px;
  border-radius: 0.5em;
}

img.flag {
  border: 5px solid #000000cc;
}

.rBor {
  border-right: 1px #ffffff75 dashed;
}

.tree {
  margin: auto;
  width: 250px;
  display: inline-block;
}

.red {
  color: #d62013;
  font-size: 1em;
  margin: 22.5px;
}

/* Dropdown menus */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 100%;
}

.dotless {
  list-style: none;
}

.dropdown-container {
  width: 100%;
  overflow: hidden;
}

.dropdown-container header {
  cursor: pointer;
}

.dropdown-container article {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 350ms ease-in-out;
}

/* Dolphin version toggle */
.low5 {
  display: none;
}

.high5 {
  display: block;
}

.spanLow5 {
  display: none;
}

.spanHigh5 {
  display: inline;
}

/* Buttons */
.btn-1a:hover {
  color: #fff;
  background: #00403a;
}

.btn-1 {
  border: 3px solid #009688;
  color: #009688;
}

.btn {
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  height: 50px;
  width: 100px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: #000000cc;
  cursor: pointer;
  padding: 15px 25px;
  margin: 0px 9px;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all 0.3s;
}

[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type='radio'] + div {
  cursor: pointer;
}

[type='radio']:checked + div {
  color: #fff;
  background: #00403a;
}

.checkboxFieldset {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;

  display: flex;
  justify-content: center;
}

.tabColumn {
  flex: 1 1 0px;
}

.tabColumn > * {
  height: 100%;
  box-sizing: border-box;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent.tabcontentactive {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

#randomizationSettingsTab {
  text-align: left;
}

#gameplaySettingsTab {
  text-align: left;
}

#cosmeticsAndQuirksTab {
  text-align: left;
}

/* .leftColumn {
  float: left;
  width: 48%;
  padding-right: 2%;
} */

.selectGroup {
  margin: 0 0 8px;
  width: auto;
}

.selectGroup > select {
  width: 100%;
  max-width: 300px;
}

.overwriteDisclaimer {
  width: 100%;
  margin: 16px 24px 24px;
  text-align: center;
}

.labelValueGroup {
  display: inline-block;
  position: relative;
  padding: 6px 0;
}

.settingsStringLabel {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.settingsStringValue {
  padding: 4px 0;
}

.primaryButton {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(144, 202, 249);
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;

  border-radius: 9999px;
  /* background-color: #311b92; */
  background-color: #673ab7;
  background-color: #5d1ec4;
  color: white;
  font-weight: bold;
}

.primaryButton.primaryButtonNoShadow {
  box-shadow: none;
}

.primaryButton.primaryButtonNoShadow:hover {
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.secondaryButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  color: inherit;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 5px 15px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid rgba(25, 118, 210, 0.5);
  color: #1976d2;

  font-weight: bold;
  border-radius: 9999px;
}

.secondaryButton:hover {
  text-decoration: none;
  background-color: rgba(25, 118, 210, 0.04);
  border: 1px solid #1976d2;
}

.css-1egpgfe {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 50%;
  overflow: visible;
  color: rgb(255, 255, 255);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-1egpgfe:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.css-vubbuv {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;

  font-size: 1.25rem;
}

.settingsEditBtnPos {
  /* position: absolute;
  top: 50%;
  left: 100%; */
  margin-left: 8px;
}

/* Temp basic modal start */
/* The Modal (background) */
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* padding-top: 100px; */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  color: rgb(0, 0, 0, 0.87);
}

.modal * {
  box-sizing: border-box;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 8px;
  color: rgb(0, 0, 0, 0.87);

  max-width: 600px;
}

/* The Close Button */
.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -16px;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* End Temp basic modal */

.settingsStringLabel.settingsStringLabelLight {
  color: rgb(0, 0, 0, 0.87);
}

.settingsStringValueLight {
  color: #202124;
}

.modalSettingsStringInput {
  width: 100%;
  margin: 4px 0;
}

.modalButtonsWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  width: 100%;
  /* padding: 40px 0 16px; */
  padding: 40px 0 5px;
}

.modalButtonsWrapper.modalButtonsWrapperSmaller {
  padding-top: 16px;
  padding-bottom: 0px;
}

.modalButtonsWrapper > button {
  margin: 0 4px;
}

.modalTitle {
  color: #202124;
  font-size: 1.375rem;
  font-weight: 400;
  padding-bottom: 16px;
}

.errorTextColor {
  color: #d32f2f;
}

.fieldUnderneathText {
  font-size: 14px;
  margin-top: 4px;
}

.fieldErrorText {
  font-size: 14px;
  color: #d32f2f;
  margin-top: 4px;
}

.mainContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* width: 100%;
  max-width: 1080px;
  padding: 0 40px; */
  margin: auto;
  max-width: 1260px;

  /* padding: 0 20px; */
  padding: 0;
}

/* @media (min-width: 450px) { */
@media (min-width: 601px) {
  .mainContentWrapper {
    padding: 0 20px;
  }
}

@media (min-width: 992px) {
  .mainContentWrapper {
    padding: 0 40px;
  }
}

table.getSeedTable {
  border-spacing: 0;
  line-height: 20px;

  margin: 0;
  padding: 8px 16px 12px 16px;
}

table.getSeedTable th {
  font-size: 0.875rem;
  font-size: 12px;
  /* padding: 2px 16px 2px 0; */
  padding: 0 16px 0 0;
  text-align: right;
  /* width: 50%; */
  width: auto;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
}

table.getSeedTable td {
  font-size: 0.875rem;
  font-size: 12px;
  text-align: left;
  /* padding: 2px 0; */
  padding: 0;
  width: auto;
  /* width: 50%; */
  /* padding: 5px 20px; */
  /* width: 12vh; */
}

/* modal 2 start */

.modal-dialog-bg {
  background-color: #000;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 998;
  opacity: 0.6;

  /* added */
  position: fixed;
  width: 100%;
  height: 100%;
}
/* resize listener to adjust dimensions? */

.quantumWizDialogBackground {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
  background-color: rgba(0, 0, 0, 0.502);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5000;
}

.quantumWizDialogBackground.isOpen {
  -webkit-transition: opacity 0.05s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.05s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.quantumWizDialogLayout {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  bottom: 0;
  left: 0;
  padding: 0 5%;
  position: absolute;
  right: 0;
  top: 0;
}

.boqDrivesharedialogDialogcontainerRemovePadding {
  padding: 0;
}

.quantumWizDialogBackgroundTop,
.quantumWizDialogBackgroundBottom {
  display: block;
  height: 3em;
}

.quantumWizDialogEl {
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  max-height: 100%;
}

.boqDrivesharedialogDialogcontainerFullWidth {
  width: 100%;
}

.boqDrivesharedialogDialogsShareContainer {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-justify-content: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.boqDrivesharedialogDialogsShareDialogWrapper {
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
  max-height: 100%;
}

.boqDrivesharedialogDialogsShareDialog {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.boqDrivesharedialogDialogsShareCardContainer {
  max-height: max(100vh, 1000px);
  padding: 5px;
  overflow: hidden;
  position: relative;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
  -webkit-transition-duration: 270ms;
  transition-duration: 270ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.boqDrivesharedialogCommonIdomcardCardContainer {
  transition: transform;
  transition-delay: 0ms;
  transition-duration: 270ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 100%;
  position: relative;
  -webkit-transform-origin: top;
  transform-origin: top;
  width: 640px;
}

.boqDrivesharedialogCommonIdomcardCardContainer {
  width: 512px;
  min-width: 320px;
}

.boqDrivesharedialogCommonIdomcardCardContainer.TransformOriginBottom {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

.boqDrivesharedialogCommonAnimatedfadeParentContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.boqDrivesharedialogCommonAnimatedfadeContainer {
  transition: opacity;
  transition-delay: 117ms;
  transition-duration: 80ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  opacity: 1;
}

.boqDrivesharedialogCommonIdomcardCardFade {
  transition: opacity;
  transition-delay: 50ms;
  transition-duration: 225ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

.boqDrivesharedialogCommonIdomcardCard::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid transparent;
  pointer-events: none;
}

.mdc-card::after {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: var(--mdc-shape-medium, 4px);
  border-radius: var(--mdc-shape-medium, 4px);
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid transparent;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  content: '';
  pointer-events: none;
}

/* body {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  margin: 0;
  overflow: hidden;
} */

.boqDrivesharedialogCommonIdomcardCard {
  outline: none;
}

.mdc-card {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: var(--mdc-shape-medium, 4px);
  border-radius: var(--mdc-shape-medium, 4px);
  background-color: #fff;
  background-color: var(--mdc-theme-surface, #fff);
  position: relative;
  -webkit-box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
    0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.GmCard {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  border-width: 0;
  -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 1px 3px 1px rgb(60 64 67 / 15%);
  box-shadow: 0 1px 2px 0rgba (60, 64, 67, 0.3),
    0 1px 3px 1pxrgba (60, 64, 67, 0.15);
}

.boqDrivesharedialogCommonTitlebarTitleBar {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 20px 12px 0 24px;
}

.boqDrivesharedialogCommonTitlebarTitleBar {
  padding: 8px 8px 0 24px;
}

.boqDrivesharedialogCommonTitlebarTitleBar .Heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.boqDrivesharedialogCommonTitlebarTitleBar {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 20px 12px 0 24px;
}

.boqDrivesharedialogCommonTitlebarTitleBar {
  padding: 8px 8px 0 24px;
}

.boqDrivesharedialogCommonTitlebarTitleBar .Heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.boqDrivesharedialogCommonTitlebarTitleBar .LeftSlotAndTitle {
  padding-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.boqDrivesharedialogCommonTitlebarTitleBar .Heading .Title {
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  line-height: 1.75rem;
  font-size: 1.375rem;
  letter-spacing: 0;
  font-weight: 400;
  color: #202124;
  margin: 0;
}

/* end modal 2 */

.dialog2Content {
  color: rgba(0, 0, 0, 0.87);
}

.dialog2ContentArea {
  /* padding: 16px 24px 16px; */
  padding: 24px;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner-border {
  border-color: currentcolor transparent currentcolor currentcolor;
}

.spinner-border {
  color: #5d1ec4;
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.downloadAnchor {
  display: block;
  color: rgb(98, 197, 255);
  padding: 4px 0;
}

.shareBtnsWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 13px 24px 16px;
  box-sizing: border-box;
}

@keyframes bobbingAnim {
  0% {
    transform: scale(0.999, 0.999) translate3d(0px, 0px, 1px);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: scale(0.999, 0.999) translate3d(0px, -12px, 1px);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: scale(0.999, 0.999) translate3d(0px, 0px, 1px);
    animation-timing-function: ease-in-out;
  }
}

/* queue start */
.queueParent {
  display: flex;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 16px;
}

.queueItemWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 130px;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* animation: 3s ease-in 1s infinite reverse both running slidein; */
  animation: 1.5s ease-in 0s infinite reverse both running bobbingAnim;
}

.queueItemWrapper:nth-of-type(1) {
  /* animation-delay: -1.6s; */
  /* animation-delay: -1.2s; */
  animation-delay: -1s;
}

.queueItemWrapper:nth-of-type(2) {
  /* animation-delay: -0.9s; */
  animation-delay: -0.75s;
}

.queueItemWrapper:nth-of-type(3) {
  /* animation-delay: -0.6s; */
  animation-delay: -0.5s;
}

.queueItemWrapper:nth-of-type(4) {
  /* animation-delay: -0.3s; */
  animation-delay: -0.25s;
}

.queueItemWrapper:nth-of-type(5) {
  animation-delay: 0s;
}

.queueImg {
  /* max-width: 80px; */
  /* max-height: 80px; */
  max-width: 96px; /* 75% */
  max-width: 77px; /* 60% */
}

.queueImg2 {
  /* 185 width normally */
  max-width: 113px; /* 100% */
  max-width: 56px;
  max-width: 85px; /* 75% */
  max-width: 67px; /* 60% */
}
/* queue end */

/* picross start */
table.picrossTable {
  border-collapse: collapse;
  border-spacing: 0;
}

.picrossTable td {
  text-align: center;
  line-height: 1.5;
}

.picrossTable td[data-pos] {
  width: 100px;
  height: 100px;
  background-color: #d7d7d7;
  /* border: 1px solid #ccc; */
  /* border: 1px solid #aaa; */
  border: 1px solid #707070;
  cursor: pointer;
  position: relative;
}

.picrossTable td[data-pos].complete {
  cursor: default;
}

.picrossTable td[data-pos]:not(.complete):hover::after {
  content: '';
  /* background-color: rgba(0, 0, 0, 0.05); */
  /* box-shadow: 0 0 5px 2px #01a9db inset; */

  /* box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2) inset; */

  /* box-shadow: 0px 0px 5px 3px red inset; */

  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);

  box-shadow: 0 5px 5px 3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%) inset;

  box-shadow: 0 0 5px 3px rgb(0 0 0 / 20%) inset;

  /* box-shadow: 0 0 5px 3px rgb(255 143 0 / 20%) inset; */

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.picrossTable td[data-pos].positive {
  background-color: #81daf5;
  background-color: #26c6da;
  background-color: #64b5f6;
  /* box-shadow: 0 0 5px 3px rgb(0 0 0 / 20%) inset; */
}

.picrossTable td[data-pos].positive.complete {
  background-color: pink;
}

.picrossTable td[data-pos].negative {
  /* background-color: #bbb; */
  background-color: #b3b3b3;
}

.picrossTable td[data-pos].negative.complete {
  background-color: #333;
  background-color: #4d2b25;
  background-color: #383433;
  background-color: #353535;
  background-color: #202124;
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.picrossTable td[data-pos].positive.complete:not(.example) {
  /* background-color: #81c784; */
  /* background-color: rgb(108, 190, 130); */
  background-color: rgb(130, 212, 151);
  background-color: #64ffda;
  background-color: #85fbdc;
  background-color: #65dcb4;

  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );

  /* background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  ); */

  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );

  /* from lch: */
  background: linear-gradient(
    90deg,
    #fc98b9 0%,
    #f99e8c 10%,
    #dead6e 20%,
    #b2bd6c 30%,
    #7ec788 40%,
    #47cbb5 50%,
    #2fc9e2 60%,
    #6cc0ff 70%,
    #b0b1ff 80%,
    #e3a0e5 90%,
    #fc98b9 100%
  );

  /* from lch reordered: */
  background: linear-gradient(
    90deg,
    #47cbb5 0%,
    #2fc9e2 10%,
    #6cc0ff 20%,
    #b0b1ff 30%,
    #e3a0e5 40%,
    #fc98b9 50%,
    #f99e8c 60%,
    #dead6e 70%,
    #b2bd6c 80%,
    #7ec788 90%,
    #47cbb5 100%
  );

  background-size: 10000%;
  animation: rainbow 5s linear infinite running;
  animation-delay: 0.3s;
}

.picrossTable tr.picrossHeaderRow > td {
  vertical-align: bottom;
  padding-bottom: 7px;
  text-align: center;
  font-family: Monospace;
  font-weight: bold;
}

.picrossTable td.headerLeft {
  vertical-align: middle;
  padding-right: 11px;
  text-align: right;
  font-family: Monospace;
  font-weight: bold;
  border-right: 1px solid #707070;
}

.picrossTable td.headerTop {
  /* border-bottom: 1px solid #aaa; */
  border-bottom: 1px solid #707070;
}

.picrossTable td.headerTopLeft {
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.picrossTable td.headerBottomLeft {
  border-right: 1px solid #707070;
  border-bottom: 1px solid #aaa;
  vertical-align: middle;
  padding-right: 11px;
  text-align: right;
  font-family: Monospace;
  font-weight: bold;
}

.picrossTable td.headerTopRight {
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #707070;
}

.picrossTable td:nth-child(5n + 11) {
  /* Cells on the right edge */
  border-right: 1px solid #707070;
}

.picrossTable tr.bottomRow td:nth-child(1n + 2) {
  border-bottom: 1px solid #707070;
}

ul.picrossExplanation li {
  list-style-type: decimal;
  line-height: 24px;
  padding-left: 16px;
  padding-top: 8px;
  color: rgba(255, 255, 255, 0.9);
}

ul.picrossExplanation ul > li {
  list-style-type: disc;
}

.picrossExplanationSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picrossExplanationSectionChild {
  max-width: 840px;
}

.picrossBtnsWrapper {
  display: flex;
  justify-content: center;
  margin: 8px 0 16px;
}

.picrossBtn {
  margin: 0 4px;
}

.sectionPlayPicross {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
/* picross end */

.queueStatusSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-warning {
  color: rgba(255, 255, 157, 0.9);
  background-color: rgb(85, 64, 0);
  border-color: rgb(172, 129, 0);
}

.queuePosText {
  font-size: 20px;
  font-weight: bold;
}

.progressTitle {
  font-size: 24px;
  padding-bottom: 20px;
}

.deleteRequestText {
  color: #3367d6;
  cursor: pointer;
}
