@media (max-width: 1000px) {
  .blackbg {
    margin: 2vh !important;
  }
}

@font-face {
  font-family: Ravenna;
  src: url(Ravenna.ttf);
}

html {
  background: url(../img/bg.webp) no-repeat center center fixed;
  background-color: #190a05;
  background-size: cover;
}

body {
  font-family: Segoe UI, Arial;
  color: white;
  /* text-align: center;
  font-size: 24px; */
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  font-family: Ravenna;
  margin-top: 0px;

  position: relative;
  /* background: linear-gradient(to bottom, #ffffff,#ffffff, #55129f, #55129f); */
  background: linear-gradient(to right bottom, #d62013, #d62013, #000000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h2 {
  margin-top: 15px;
  background: linear-gradient(to right bottom, #009688, #009688, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* img { */
.randomizer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 200px;
}

table {
  margin: 0px auto;
  padding: 4px;
  /* background-color: #000000cc; */
  border-radius: 0.5em;
}

td {
  font-size: 18px;
  padding: 5px 20px;
  width: 12vh;
}

hr {
  border-color: #5a5a5a;
}

ul {
  text-align: left;
  color: #f3d068;
}

.footerText {
  line-height: 2.5;
  font-size: 1.25em;
  font-weight: 300;
}

a > img {
  display: inline;
  margin: 0px 12px;
}

a > img {
  border: none;
}

p > img {
  margin: 30px auto;
}

p > span {
  display: inline;
}

/* div > select {
  width: 20%;
} */

/* Classes */
.hr2 {
  width: 300px;
  border-color: #009688;
}

.blackbg {
  /* background-color: #000000a1; */
  background-color: rgb(0, 0, 0, 0.9);
  margin: 0vh 10vh 5vh;
  /* padding: 45px; */
  padding: 24px 40px 40px;
  border-radius: 0.5em;
}

img.blackbor {
  border: 25px solid #000000cc;
  padding: 0px;
  border-radius: 0.5em;
}

img.flag {
  border: 5px solid #000000cc;
}

.rBor {
  border-right: 1px #ffffff75 dashed;
}

.tree {
  margin: auto;
  width: 250px;
  display: inline-block;
}

.red {
  color: #d62013;
  font-size: 1em;
  margin: 22.5px;
}

/* Dropdown menus */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 100%;
}

.dotless {
  list-style: none;
}

.dropdown-container {
  width: 100%;
  overflow: hidden;
}

.dropdown-container header {
  cursor: pointer;
}

.dropdown-container article {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 350ms ease-in-out;
}

/* Dolphin version toggle */
.low5 {
  display: none;
}

.high5 {
  display: block;
}

.spanLow5 {
  display: none;
}

.spanHigh5 {
  display: inline;
}

/* Buttons */
.btn-1a:hover {
  color: #fff;
  background: #00403a;
}

.btn-1 {
  border: 3px solid #009688;
  color: #009688;
}

.btn {
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  height: 50px;
  width: 100px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: #000000cc;
  cursor: pointer;
  padding: 15px 25px;
  margin: 0px 9px;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all 0.3s;
}

[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type='radio'] + div {
  cursor: pointer;
}

[type='radio']:checked + div {
  color: #fff;
  background: #00403a;
}

/* Shit Detector */
#IsIE {
  display: none;
  color: white;
  font-size: 2em;
}

#IsNotIE {
  display: none;
}

.checkboxFieldset {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;

  display: flex;
  justify-content: center;
}

.tabColumn {
  flex: 1 1 0px;
}

.tabColumn > * {
  height: 100%;
  box-sizing: border-box;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent.tabcontentactive {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

#randomizationSettingsTab {
  text-align: left;
}

#gameplaySettingsTab {
  text-align: left;
}

#cosmeticsAndQuirksTab {
  text-align: left;
}

/* .leftColumn {
  float: left;
  width: 48%;
  padding-right: 2%;
} */

.selectGroup {
  margin: 0 0 8px;
  width: auto;
}

.selectGroup > select {
  width: 100%;
  max-width: 300px;
}

.overwriteDisclaimer {
  width: 100%;
  margin: 16px 24px 24px;
  text-align: center;
}

.labelValueGroup {
  display: inline-block;
  position: relative;
  padding: 6px 0;
}

.settingsStringLabel {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.settingsStringValue {
  padding: 4px 0;
}

.primaryButton {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(144, 202, 249);
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;

  border-radius: 9999px;
  /* background-color: #311b92; */
  background-color: #673ab7;
  background-color: #5d1ec4;
  color: white;
  font-weight: bold;
}

.css-1egpgfe {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 50%;
  overflow: visible;
  color: rgb(255, 255, 255);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-1egpgfe:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.css-vubbuv {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;

  font-size: 1.25rem;
}

.settingsEditBtnPos {
  /* position: absolute;
  top: 50%;
  left: 100%; */
  margin-left: 8px;
}

/* Temp basic modal start */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  color: rgb(0, 0, 0, 0.87);
}

.modal * {
  box-sizing: border-box;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 8px;
  color: rgb(0, 0, 0, 0.87);

  max-width: 600px;
}

/* The Close Button */
.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -16px;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* End Temp basic modal */

.settingsStringLabel.settingsStringLabelLight {
  color: rgb(0, 0, 0, 0.87);
}

.settingsStringValueLight {
  color: #202124;
}

.modalSettingsStringInput {
  width: 100%;
  margin: 4px 0;
}

.modalButtonsWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  width: 100%;
  padding: 40px 0 16px;
}

.modalButtonsWrapper > button {
  margin: 0 4px;
}

.modalTitle {
  color: #202124;
  font-size: 1.375rem;
  font-weight: 400;
  padding-bottom: 16px;
}

.fieldErrorText {
  font-size: 14px;
  color: red;
  margin-top: 4px;
}

.mainContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContentWrapper > * {
  width: 100%;
  max-width: 1080px;
}

table.getSeedTable {
  border-spacing: 0;
  line-height: 20px;

  margin: 0;
  padding: 8px 16px 12px 16px;
}

table.getSeedTable th {
  font-size: 0.875rem;
  font-size: 12px;
  /* padding: 2px 16px 2px 0; */
  padding: 0 16px 0 0;
  text-align: right;
  /* width: 50%; */
  width: auto;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
}

table.getSeedTable td {
  font-size: 0.875rem;
  font-size: 12px;
  text-align: left;
  /* padding: 2px 0; */
  padding: 0;
  width: auto;
  /* width: 50%; */
  /* padding: 5px 20px; */
  /* width: 12vh; */
}
